body {
    font-family: "Montserrat", sans-serif;
}
/* ================================================GALERIE==================================================== */
.galerie .carousel-inner {
    padding: 1em;
}
.galerie .carousel-control-prev,
.carousel-control-next {
    background-color: #e1e1e1;
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}
.galerie .carousel-control-prev span,
.carousel-control-next span {
    width: 1.5rem;
    height: 1.5rem;
}

.galerie .image-wrapper img {
    max-width: 100%;
    max-height: 100%;
}
/* ===============================================================CONDITIONS D'ACCES================================= */
.condition{
    background-image: url('../assets/Images/condition.jpg');
background-repeat: no-repeat;
background-size: cover;
background-position: center;
background-color: rgba(0, 0, 0, 0.5); /* Couleur semi-transparente noire */



}
.condition h1{
    border-left: 5px solid #009688;
    text-shadow: 15px 17px 15px #000;
}

/* ===============================================RESULTATS CSS =========================================== */

.results{
    background-image: url('../assets/Images/studients.jpg');
background-repeat: no-repeat;
background-size: cover;
background-position: center;
background-color: rgba(0, 0, 0, 0.258); /* Couleur semi-transparente noire */



}
.contain-result{
    text-align: center;
    padding-top: 100px;
  }
  .results h3 {
    color: #fff;
    font-size: 3rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Ombre de boîte semi-transparente */


    margin-bottom: 20px;
  }
.results .card{
    border: none;
    border-radius: 5%;
     box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.results  h5{
    text-align: center;
        font-size: 1.5rem;
        font-weight: bold;
        color: #333;


}
.results  p{
    text-align: center;
        font-size: 1.5rem;
        font-weight: bold;
        color:#009688;
        animation: increase 2s ease-out;


}


.buton-contact button {
    border-radius: 20px;
    background: #ff9800;
    color: #fff;
    padding: 10px;
    width: 130px;
    border: none;
}
.buton-contact button:hover {
    border-radius: 20px;
    background: #ffff;
    border: 1px solid #ff9800;
    color: #ff9800;
    padding: 10px;
    width: 130px;
}
.buton-contact a {
    color: #ffff;
}
.buton-contact a:hover {
    color: #ff9800;
}
.voir-plus button {

     border-radius: 20px;
    background: #ffff;
    border: 1px solid #ff9800;
    color: #ff9800;
    padding: 10px;
    width: 130px;
}
.voir-plus button:hover {
    border-radius: 20px;
    background: #ff9800;
    color: #fff;
    padding: 10px;
    width: 130px;
    border: none;
}
.voir-plus a {
    text-decoration: none;
    color: #ff9800;
}
.voir-plus a:hover {
    color: #fff;
}
.header {
    opacity: 0.8;
}
.header h1 {
    font-size: 80px;
    text-shadow: 10px 7px 10px #000;
    color: #ffff;
}
ul li a {
    display: flex;
    text-transform: uppercase;
    justify-content: center;
    font-size: 12px;
    font-weight: 500;
}
/* .active{
    background-color: #5AB25E;
    padding: 8px;
} */

.carousel-inner .carousel-caption {
    margin-bottom: 150px;

    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.5;
    animation: 4s anim-lineUp ease-out;
}

@keyframes anim-lineUp {
    0% {
        opacity: 0;
        transform: translateY(80%);
    }

    20% {
        opacity: 0;
    }

    50% {
        opacity: 1;
        transform: translateY(0%);
    }

    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}
.contain-dg .card {
    border-radius: 10px;
}
/* -----------------------------------------FOOTER-------------------------------- */
.contact-form input {
    border: none;
    padding: 10px;
}
.contact-form textarea {
    border: none;
    padding: 10px;
}
.contact-form button {
    border: none;
    width: 130px;
    padding: 10px;
    border-radius: 20px;
    background: #ff9800;
    color: #fff;
}
.contain-matiere .card {
    border: none;
    border-radius: 8px;
}
/* .contact-form button:hover {

    background: #FFFF;
    color: #607181;
} */
/* ------------------------------------------GOUVERNEMENT SCOLAIRE---------------------------- */
/* .gouvernement-card {
    height: 20%;
} */
.gouvernement-card .avatar {
    width: 110px;
    margin-top: -15px;
    overflow: hidden;
    border: 3px solid #fff;
    border-radius: 50%;
}
.gouvernement-card h4 {
    text-transform: capitalize;
    font-weight: 500;
}
.gouvernement-card p {
    text-transform: capitalize;
    font-weight: 500;
}
.gouvernement-card {
    border: none;
    border-radius: 20px;
}
/* ------------------------------------EVENEMENT----------------------- */
/* =================================================GALERIE========================================== */
@media screen and (min-width: 577px) {
    .galerie .cards-wrapper {
        display: flex;
    }

    .galerie .card {
        margin: 0 0.5em;
        width: calc(100% / 2);
    }

    .galerie .image-wrapper {
        height: 20vw;
        margin: 0 auto;
    }
}
@media screen and (max-width: 576px) {
    .galerie .card:not(:first-child) {
        display: none;
    }
}

.galerie .image-wrapper img {
    max-width: 100%;
    max-height: 100%;
}
