.divlog{
  align-items: center;
  /* background:no-repeat url("./Imgs/lycée.jpg"); */
}
.myimage{
    width: 400px;
    height: 100%;
}
.cartelog{
    padding-top: 2rem;
    justify-content: center;
    align-items: center;
    
}
.titre1{
    font-family: 'Courier New';
    font-weight: bold;
    color: green;
}
.mydiv{
   align-items: center;
   justify-content:center;
}
.myinput{
   padding: 9px;
   border-radius: 15px;
}
.btn-login{
    padding: 9px;
    margin-bottom: 10px;
    border-radius: 15px;
    background-color: green;
}
.btn-login:hover{
    padding: 9px;
    margin-bottom: 10px;
    border-radius: 15px;
    background-color: green;
}
.myremember{
    font-size: 16px;
}
.carte-form{
    margin-top:6rem;
    
}
 /* css donation */
.don{
    width:100%;
    height:300px
}
.image{
    height:600px ;
}
/* overlay */
.contenu {
    position: relative;
    width: 100%;
    margin-top: 5rem;
  }
.operateur{ 
        display: block;
        width: 100%;
        height: auto;
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #ffff;
  }
.contenu:hover .overlay {
    opacity: 1;
  }
.text {
    color:black;
    font-size: 20px;
    position: absolute;
    top: 55%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
/* overlay */
.image{
    width:100% ;
}
.para{
    font-size: 20px;
}
.fistdiv{
    background:no-repeat url("./assets/Images/donne.jpg");
    width:100%;
    height:300px;
    padding-top:5rem;
}
.textDon{
    text-align: center;
    color: #ffff;
    justify-content: center;
    /* font-size: 40px; */
}
.secondDiv{
    margin-top:8rem;
}
